<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>SoberStreak: Opensource Sobriety Tracker</display-name>
    <!-- JAX-RS Configuration for Jersey -->
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.north.soberstreak</param-value> <!-- Your package with REST services -->
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/api/*</url-pattern> <!-- All requests starting with /api are mapped to REST -->
    </servlet-mapping>

    <!-- Alias mapping for activeuser.jsp -->
    <servlet>
        <servlet-name>activeuser</servlet-name>
        <jsp-file>/activeuser.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>activeuser</servlet-name>
        <url-pattern>/activeuser</url-pattern> <!-- Alias URL -->
    </servlet-mapping>

    <!-- Custom error handling -->
    <error-page>
        <error-code>404</error-code>
        <location>/</location> <!-- Redirect to root directory on 404 -->
    </error-page>

      <resource-ref>
        <description>JDBC DataSource for Sober Streak</description>
        <res-ref-name>jdbc/soberstreakdc</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
